$body-bg-color: #F5F5F5;
$list-bg-color: #FFFFFF;

$input-bg-color: #F5F5F5;

$accent-color: #FF4669;
$white-color: #FFFFFF;

$primary-font-color: #2a2a2a;
$secondary-font-color: #B4B4B4;

$default-font-size: 14px;