.repo-list-section {
    & .repo-list {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin: 0;
        padding: 0;

        &_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1px;
            padding: 0 25px;
            height: 40px;
            background-color: $list-bg-color;

            &:first-child {
                margin-bottom: 3px;
            }
    
            & .head-item {
                width: 25%;
                text-transform: uppercase;
                font-family: 'Roboto Bold';
                color: $secondary-font-color;
                font-size: 16px;
            }
    
            & .item {
                width: 25%;
                
            }
    
            & .item-name {
                &_link {
                    font-family: 'Roboto Bold';
                    color: $primary-font-color;
                }
            }
    
            & .item-link {
                width: 50px;
                &_link {
                    display: block;
                    color: $primary-font-color;
                    & .link-svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    
    }
}